.main {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.a {
    background-color: #FF0033;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.b {
    background-color: #0033FF;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.c {
    background-color: #FFFF66;
    color: #000;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.d {
    background-color: #00FF00;
    color: #000;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.e {
    background-color: #9900FF;
    color: #000;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.f {
    background-color: #FF9933;
    color: #000;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.g {
    background-color: #33CCCC;
    color: #000;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.h {
    background-color: #FF99FF;
    color: #000;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
